/*全体設定*/
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}


/*共通設定*/
.frame_settings{
    margin:0 auto 160px auto;
    width: clamp(360px,calc(100vw*1000/1440),1000px);
}

.card_settings{
    box-shadow: 0 8px 24px rgba(0,0,0,0.08);
    border-radius: 24px;
    background-color: #ffffff;
}

.overflow_wrap{
    overflow-wrap: break-word;
}

h1{
    font-size: 32px;
    line-height: 32px;
    font-weight: bold;
    color: #208200;
    padding-bottom: 48px;
    text-align: center;
}

h2{
    font-size: 24px;
    font-weight: bold;
    line-height: 24px;
    color: #208200;
    
}

h3{
    font-size: 16px;
    line-height: 24px;
    font-weight: normal;
}

body{
    width:100%;
    background-color: #F5F5F7;
}


/*個別設定*/
/*ヘッダー*/
.frame_header::before{
    position: absolute;
    top:0;
    content: "";
    background-color: #208200;
    height: calc(100vh*10/1024);
    width:100%;
    box-shadow: 0 8px 24px rgba(0,0,0,0.08);
}

.frame_header{
    position: fixed;
    top:0;
    width:100%;
    height: calc(100vh*88/1024);
    background-color: #ffffff;
    z-index: 9999;
    display: flex;
    opacity:1;
    /*フェイクで透明度０*/
}

.header_icon{
    padding-top:calc(100vh*16/1024);
    padding-left: calc(100vw*32/1024);
}

.header_icon svg{
    width:calc(100vw*160/1440);
    height: calc(100vh*64/1024);
}

.header_menu_area{
    display: flex;
    gap:24px;
    margin: auto calc(100%*24/1024) auto auto;
    align-items: center;
}

.header_menu_area>*{
    font-size: 16px;
    line-height: 16px;
    font-weight: bold;

}

.header_menu_area .button_free_back{
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
    height:32px;
}

.header_menu_area .button_lesson_back{
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
    height: 32px;
}

.header_menu_area .button_free_text{
    font-size: 16px;
    line-height: 16px;
    padding: 8px;   
}

.header_menu_area .button_lesson_text{
    font-size: 16px;
    margin:0 auto; 
    line-height: 9px; 
    padding: 8px;  
}


/*ファーストビュー*/
.first_view{
    position:sticky;
    top:100vh;
    inset: 0;
    z-index: 1;
}

.first_view_img{
    height: 704px;
    object-fit: cover;
    width: 100%;
}

.first_view_title{
    margin:128px 0px 0px 88px;
    font-size: 96px;
    line-height: 96px;
    font-weight: bold;
    color:#208200;
}

.first_view_sub{
    margin:16px 0px 0px 96px;
}

.arrow{
    margin: 40px auto 40px auto ;
}

.arrow_text{
    width: 80px;
    color:#208200;
    font-size: 128px;
    font-weight: bold;
    display: block;
    margin:0px auto ;
    transform: rotate(90deg);
}

.first_view_content{
    position: absolute;
    top:0;
    left: 0;
    opacity: 1;
    /*フェイクで透明度０*/
}

.first_button_area{
    display: flex;
    flex-direction: column;
    gap:8px;
    align-items: flex-start;
    margin: 48px 0px  0px 96px;
}

.button_free_back{
    background-color:#FF4639;
    border-radius:28px;
    height: 56px;
    display: flex;
    align-items: center;
}

.button_free_text{
    font-size: 28px;
    color: #ffffff;
    font-weight: 900;
    line-height:28px;
    padding:14px;
}

.button_lesson_back{
    background-color:#ffffff;
    border-radius:28px;
    border:solid 3.5px #FF4639;
    height: 56px;
    display: flex;
    align-items: center;
} 

.button_lesson_text{
    font-size: 28px;
    color:#FF4639;
    font-weight: 900;
    padding:14px;
}

/*プログラミングとは*/
.frame_programming{
    height: 320px;
    margin:104px auto 160px auto;
    display: flex;
    gap:0;
}

.programming_card{
    width: 496px;
    height:184px;
    border-radius: 25px;
    padding:40px;
}

.programming_svg{
    width:480px;
    height: 264px;
    display: flex;
    gap:0;
    margin:auto auto 0 0;
}

.monitor{
    width: 360px;
    height:240px; 
    margin:auto 0 0 0;
}
.type_woman{
    width: 144px;
    height: 112px;
    margin:auto 0 0 0;
}

.programming_h1{
    font-size: 24px;
    line-height: 24px;
    font-weight: bold;
    color: #208200;
    margin-bottom: 16px;
}

/*プログラミングの魅力について知ろう。*/
.frame_programming_attractive{
    height:fit-content;
}

.attractive_card_area{
    width:100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    border:solid 1px black;
}

.attractive_card{
    width: 304px;
    height: 600px;
    padding: 40px;
    display: flex;
    flex-direction: column;
}

.attractive_title{
    margin-bottom: 24px;
}

.attractive_text{
    max-height: 184px;
}

.attractive_svg_area{
    display: flex;
    align-items: center;
    justify-content: center;
    margin:auto auto 0 auto;
    width:200px;
    height:200px;
}


.attractive_svg{
    width:200px;
    height:200px;
    border:solid 1px black;
}

@media(max-width:1024px){
    .attractive_card_area{
        flex-direction: column;
        align-items: center;
        gap:16px
    }
}


/*BeEngineerの強みを見てみよう！*/
.frame_strength{
    height:fit-content;
}



.strength_card_area{
    width:100%;
    height:fit-content;
    display: flex;
    flex-direction: column;
    gap:32px;
    border: solid 1px black;
    align-items: center;
}

.strength_card{
    width:fit-content;
    height:fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:0;
    padding: 8px;
}


.strength_card:hover{
    background-color: #208200;
    transition: 10ms;
}

.strength_text_area{
    display: block;
    width:504px;
    height: fit-content;
    display: flex;
    gap: 8px;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    padding-left: 56px;
}




.strength_card:hover h2{
    color:#ffffff;
    transition: 10ms;
}

.strength_card h3{
    max-width: 368px;
}

.strength_card:hover h3{
    color:#ffffff;
    transition: 10ms;
}

.strength_img_area{
    display: flex;
    width:480px;
    height:184px;
    padding: 8px;    
}

.strength_img{
    width:100%;
    height:100%;
    object-fit: cover;
    margin: auto 0;
    border-radius: 24px;
}

@media(max-width:1024px){
    .strength_card_area{
        margin: 0 auto;
    }

    .strength_card{
        flex-direction: column;
    }

    .strength_img_area{
        width: 424px;
        height: 160px;
    }

    .strength_text_area{
        padding: 8px 0px 8px 54px;
    }
}


/*どのような講座が受けられるの？*/
.lesson_area{
    width:100%;
    height: fit-content;
    display: flex;
    gap: 32px;
}

.lesson_tiktok{
    width: 344px;
    height: 584px;
}

.lesson_name_time_content{
    width:624px;
    height:584px;
    display: flex;
    flex-direction: column;
    gap:16px;
}

.lesson_name_time{
    width:624px;
    height:120px;
    display: flex;
    gap:16px;
}

.lesson_name , .lesson_time{
    width: 304px;
    height: 120px;
    padding:16px 32px;
    display: flex;
    flex-direction: column;
}

.lesson_name h2, .lesson_time h2 ,.lesson_content h2{
    margin-bottom: 24px;
}

.lesson_name h3 , .lesson_time h3{
    font-size: 24px;
    font-weight: 500;
    margin: 0 auto;

}

.lesson_content{
    width:624px;
    height:448px;
    padding:48px 32px;
}

.lesson_content h3{
    margin-top: 24px;
    width:560px;
}

.lesson_svg{
    width: 304px;
    height: 134px;
    margin:  50px auto;

}

@media(max-width:1024px){
    .lesson_area{
        flex-direction: column;
        align-items:center;
    }
}

/*授業風景を見てみよう！*/
.frame_youtube{
    height: fit-content;
    border: solid 1px black;
}

.frame_youtube iframe{
    width: 100%;
    aspect-ratio: 16/9;
}


/*授業風景を見てみよう！*/
.flow_card{
    width:100%;
    max-width:1000px;
    height:192px;
    padding-top:24px;
}

.flow_elements{
    width:100%;
    max-width:1000px;
    height:104px;
    display:flex;
    gap: 40px;
    align-items: center;
    justify-content: center;
 
}

.flow_texts>*{
    font-size: 24px;
    line-height:24px;
    font-weight:bold;
    position: absolute;
}

.flow_texts{
    width:100%;
    max-width:1000px;
    height:24px;
    position:relative;
}

.flow_text1{
    left:50px;
}

.flow_text2{
    left:256px;
}

.flow_text3{
    left:416px;
}

.flow_text4{
    left:672px;
}

.flow_text5{
    left:840px;
}

/*CTA*/
.frame_cta{
    height: 200px;
}

.cta_card{
    width:100%;
    max-width:1000px;
    height:fit-content;
    padding:32px;
}



.cta_text h1{
    padding:0;
    text-align:initial;
    margin-bottom: 24px;
}

.cta_button_area{
    display: flex;
    height: fit-content;
     justify-content: center;
    gap:64px;
    margin:center;
}

.cta_button_area .button_free_back{
    border-radius: 36px;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
}

.cta_button_area .button_lesson_back{
    border-radius: 36px;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
}

.cta_button_area .button_free_text{
    font-size: 36px;
    padding:18px;
}

.cta_button_area .button_lesson_text{
    font-size: 36px;
    padding: 18px;
}

@media(max-width:1185px){
    .cta_button_area{
        flex-direction: column;
        gap:24px;
        justify-content: center;
        align-items: center;
    }
}


/*生徒や講師の声を聞いてみよう！*/
.frame_voice{
    height:fit-content;
}

.voice_card_area{
    display: flex;
    justify-content: center;
    gap:40px;
    margin: 0 auto;
}

.voice_card{
    padding:40px;
    width:304px;
    height: 512px;
    position: relative;
    overflow: hidden;
    z-index: 1;
    display: flex;
    flex-direction: column;
    
}

.voice_card::before{
    content: "";
    width: 304px;
    height: 264px;
    background-image: linear-gradient(
        to bottom,
        rgba(255,255,255,1) 0%,
        rgba(255,255,255,1) 8%,
        rgba(255,255,255,0.85) 15%,
        rgba(255,255,255,0.5) 25%,
        rgba(255,255,255,0.15) 40%,
        rgba(255,255,255,0) 50%
        );
    position: absolute;
    bottom:0px;
    left:0px;
    border-radius: 0  0 24px 24px;
    z-index:80;
}

.voice_card h2{
    margin-bottom: 24px;
    z-index: 101;
    position: relative;


    
}

.voice_card h3{
    max-width: 216px;
    width: 100%;
    z-index: 100;
    position: relative;
}



.voice_img{
    width: 304px;
    height:264px;
    object-fit: cover;
    border-radius: 0 0 24px 24px;
    z-index: 2;
}

.voice_img_area{
    width: 304px;
    height:264px;
    position: absolute;
    left: 0px;
    bottom: 0px;
    z-index: 3;
}

.voice_card h3::after{
    content: "";
    position: absolute;
    width: 304px;
    height: 50px;
    top:150px;
    left:0px;
    z-index: 300;
    backdrop-filter: blur(4px);
}

@media(max-width:1200px){
    .voice_card_area{
        flex-direction: column;
        align-items: center;
    }
}

/*料金体系*/
.frame_price{
    height: 264px;
}

.price_card_area{
    width:100%;
    max-width:1000px;
    height:204px;
    display: flex;
    gap:24px;
}

.price_card{
    width:488px;
    height:204px;
    padding: 32px;
}

.price_title{
    font-size: 32px;
    line-height:32px;
    font-weight: bold;
    margin-bottom: 24px;
    text-align: center;

}

.price_yen{
    font-size:40px;
    line-height:40px;
    font-weight: bold;
    color:#208200;
    text-align: center;

}

/*日時・場所*/
.frame_schedule_place{
    height: 960px;
    border: solid 1px black;
}

.schedule_place_card{
    height:880px;
    width:100%;
    display: flex;
    flex-direction: column;
    gap:40px;
    position: absolute;
    top: 0;
    left: 0;
}

.front_back_area{
    transform-style: preserve-3d;
    transition: transform .6s;
}



.card_back{
    backface-visibility: hidden;
    transform: rotateY(180deg);
}

.schoolname_area{
    height: 88px;
    margin: 0 auto;
    display: flex;
    gap:48px;
    align-items: center;
    justify-content: center;
    border-bottom: solid 2px #F5F5F7;
}

.schoolname_text{

    font-size: 28px;
    font-weight: 700;
    padding: 8px;
    background-image: blur(10px);
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
    border-radius: 25px;
    border: solid 1px #208200;
}

.schoolname_choice_color{
    color: #ffffff;
    background-color:#208200;
    border: solid 1px #000000 inset;
}

.schedule_area{
    display: flex;
    gap:0;
}

.free_schedule_area , .python_schedule_area{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:24px;
    
}

.schedule_area h2,.python_schedule_area h2,.school_img_area h2,.place_area h2{
    color: black;
    margin-top: 24px;
}

.free_schedules{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:88px;
}

.python_schedules{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap:40px;
}

.free_schedule , .python_schedule_1 , .python_schedule_2{
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:8px;
    width: fit-content;
}

.python_schedule{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap:0px;
}

.free_date{
    font-size: 40px;
    font-weight: bold;
}

.free_day , .free_time{
    font-size: 24px;
    padding: 4px;
    border: solid 2px black;
    border-radius: 2px;
    font-weight: 600;
    line-height: 24px;
}

.free_day:empty{
    display: none;
}

.free_time{
    border: none;
    
}

.blue_saturday{
    color: #0A7FE8;
}

.red_sunday{
    color: #f04830;
}

.access_button{
    padding: 38px;
    border-radius: 50%;
    margin: auto 10px 10px auto;
    position: relative;
    background-color: #208200;
    font-size: 24px;
    color: #ffffff;
    line-height: 24px;
    font-weight: bold;
}

.place_access_area{
    display: flex;
    gap:24px;
    margin: 0 auto;
}

.school_img_area , .place_area{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:24px
}

.school_img img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 24px;
}

.place_map iframe{
    height: 200px;
    width: 400px;
    border-radius: 24px;
}

.map_h1_area{
    height: 400px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

@media(max-width:1200px){
    .schoolname_area{
    display: flex;
    gap:8px;
    }
}

/*FAQ*/
.faq_area{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap:16px;
    max-width:1000px;
    width: 100%;
}

.frame_faq{
    height: min-content;
}

.faq_element{
    width:100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap:0px;
    padding:16px;
}

.faq_element_q{
    width: 100%;
    display: flex;
    gap:0px;
    align-items: center;
    
}

.faq_element_a{
    display: flex;
    gap:16px;
    align-items:flex-start;
    max-height: 0px;
    overflow: hidden;
}


.faq_content{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border:solid 1px black;
}

.faq_text{
    display: flex;
    align-items: center;
    gap:16px;
    border:solid 1px black;
}


.faq_title{
    font-size: 24px;
    line-height: 24px;
    color: #208200;
    font-weight: bold;
    width: 24px;
}

.faq_element_a div{
    margin-left: 3px;
    color: #f04830;
}

.faq_element_a h3,.faq_element_q h3:not(.faq_button){
    width: fit-content;
}

.faq_button{
    width: 24px;
    font-size: 24px;
    font-weight: bold;
    margin-right: 16px;
    border:solid 1px black;
}

.faq_element_a.faq_open{
    max-height: 300px;
    margin-top: 16px;
    transition:.4s;
}

.faq_button.arrow_rotate{
    transform: rotate(180deg);
}


/*申し込みフォーム*/
.frame_application{
    height:fit-content;
}

.application_card{
    width:100%;
    max-width:1000px;
    height:fit-content;
    display: flex;
    padding: 64px 32px 64px 32px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.enter_form_area{
    width: fit-content;
    height:fit-content;
    display: flex;
    gap:80px;
    border: solid 1px black;
    margin: 0 auto;
}

.enter_forms_1 , .enter_forms_2{
    display: flex;
    flex-direction: column;
    gap:56px;
}

.enter_form{
    width:320px;
    height: 80px;
    display: flex;
    flex-direction: column;
    gap:8px;
    align-items: flex-start;
}

.enter_form label{
    font-size: 20px;
    font-weight: bold;
}

.enter_form input{
    width: 320px;
    height: 44px;
    border: none;
    border-bottom: solid 3px #d9d9d9;
    
}

.enter_form span{
    color: #f04830;
}

@media(max-width:1200px){
    .enter_form_area{
    gap:56px;
    flex-direction: column;
    }
}

.form_submit{
    width: fit-content;
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
    background-color: #f04830;
    padding: 8px 16px;
    border-radius: 20px;
    margin-top: 24px;

}

/*フッター*/
footer{
    height: 224px;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #d9d9d9;
}

.footer_logo{
    margin: 24px auto 36px 264px;
}


.footer_element_up{
    display: flex;
    gap:120px;
    margin:0 auto 36px auto;
    justify-content: center;
    align-items: center;
}

.footer_element_down{
    display: flex;
    gap:72px;
    margin:0 auto 0 auto;
    justify-content: center;
    align-items: center;
}


/*偽ファーストビュー*/
.fake_first_view{
    position:fixed;
    width: 100%;
    height: 100vh;
    inset: 0;
    z-index: 10;
    pointer-events: none;
}


.svg_text{
    font-weight: 900;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: clamp(4.5rem,22vw,16rem);
    transform-origin: center center;
}

.sum_mask{
    fill:#208200;
    mask:url(#text_mask);
    
}

.scroll_space{
    height: 200vh;
}

/*日時日付クリックアニメーション*/
.front_back_area{
    position: absolute;
    inset: 0;
    opacity: 0;
    pointer-events: none;
    transform: translateY(0);
}

.schedule_place_area{
    position: relative;
    perspective: 10000px;
}

.front_back_area.rotate{
    transform: rotateY(180deg);
}

.front_back_area.active{
    position: absolute;
    inset: 0;
    opacity: 1;
    pointer-events: auto;
}