/*全体設定*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*共通設定*/
html {
    scroll-padding-top: 88px;
}

.frame_settings {
    margin: 0 auto 160px auto;
    width: 95%;
    max-width: 1000px;
}

.card_settings {
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
    border-radius: 24px;
    background-color: #ffffff;
}

.overflow_wrap {
    overflow-wrap: break-word;
}

h2 {
    font-size: 32px;
    line-height: 32px;
    font-weight: 700;
    color: #208200;
    padding-bottom: 48px;
    text-align: center;
}

h3 {
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    color: #208200;

}

p {
    font-size: 16px;
    line-height: 24px;
    font-weight: normal;
}

body {
    width: 100%;
    background-color: #F5F5F7;
    font-family: "Noto Sans JP", sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}


/*個別設定*/
/*ヘッダー*/
.frame_header::before {
    position: absolute;
    top: 0;
    content: "";
    background-color: #208200;
    height: 10px;
    width: 100%;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
}

.frame_header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 88px;
    /*px表示*/
    background-color: #ffffff;
    z-index: 9999;
    display: flex;
    border-bottom: solid 1px black;
    transition: transform 0.5s;
    opacity: 0;
    /*フェイクで透明度０*/
}

.header_icon {
    padding-top: calc(100vh*16/1024);
    padding-left: calc(100vw*32/1024);
}

.header_icon svg {
    width: 160px;
    height: 64px;
}

.header_menu_area {
    display: flex;
    gap: 16px;
    margin: auto calc(100%*24/1024) auto auto;
    align-items: center;
}

.header_menus {
    display: flex;
    gap: 16px;
}

.header_menus>* {
    font-size: 16px;
    line-height: 16px;
    font-weight: 700;
    color: #000000;
}

.header_menu_area .button_free_back {
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
    height: 32px;
}

.header_menu_area .button_lesson_back {
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
    height: 32px;
}

.header_menu_area .button_free_text {
    font-size: 16px;
    line-height: 16px;
    padding: 8px;
}

.header_menu_area .button_lesson_text {
    font-size: 16px;
    margin: 0 auto;
    line-height: 9px;
    padding: 8px;
}

.hamburger_menu {
    display: none;

}

.frame_header.scroll_hide {
    transform: translateY(-100%);
}

@media(max-width:1024px) {

    .header_menu_area .button_free_back,
    .header_menu_area .button_lesson_back {
        display: none;
    }

    .hamburger_menu {
        margin: auto calc(100%*24/1024) auto auto;
        display: block;
        height: fit-content;
        position: absolute;
        top: 30px;
        right: 20px;
    }

    .hamburger_menu>* {
        display: block;
        width: 50px;
        height: 6px;
        background-color: #000000;
        margin-top: 8px;
    }

    .header_menus {
        width: 300px;
        height: 100vh;
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
        gap: 16px;
        align-items: center;
        position: fixed;
        top: 0px;
        right: 0px;
        margin: 0;
        padding-top: 120px;
        transition: transform 0.5s ease-in;
    }

    .header_menus.hide {
        transform: translateX(100%)
    }
}


/*ファーストビュー*/
.first_view {
    position: sticky;
    inset: 0;
    z-index: 1;
}

.first_view_img {
    height: 704px;
    object-fit: cover;
    width: 100%;
    object-position: right;
}

.first_view_title {
    margin: 128px 0px 0px calc(100vw*88/1440);
    font-size: 96px;
    line-height: 96px;
    font-weight: 700;
    color: #208200;
}

.first_view_sub {
    margin: 16px 616px 0px 96px;
    max-width: 500px;
    width: fit-content;
}

.arrow {
    margin: 40px auto 40px auto;
}

.arrow_text {
    width: 80px;
    color: #208200;
    font-size: 128px;
    font-weight: 700;
    display: block;
    margin: 0px auto;
    transform: rotate(90deg);
}

.first_view_content {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    /*フェイクで透明度０*/
}

.first_button_area {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
    margin: 48px 0px 0px 96px;
}

.button_free_back {
    background-color: #FF4639;
    border-radius: 28px;
    height: 56px;
    display: flex;
    align-items: center;
}

.button_free_text {
    font-size: 28px;
    color: #ffffff;
    font-weight: 900;
    line-height: 1;
    padding: 14px;
}

.button_lesson_back {
    background-color: #ffffff;
    border-radius: 28px;
    border: solid 3.5px #FF4639;
    height: 56px;
    display: flex;
    align-items: center;
}

.button_lesson_text {
    font-size: 28px;
    color: #FF4639;
    font-weight: 900;
    padding: 14px;
}

@media(max-width:1024px) {
    .first_view_sub {
        display: none;
    }

    .first_button_area {
        margin: 48px 0px 0px 96px;
    }
}

@media(max-width:768px) {
    .first_view_title {
        font-size: clamp(2.4125rem, 14.6056vw - 1.0107rem, 6rem);
        line-height: 1;
    }

    .first_view_img {
        object-position: 90% 70%;
    }

    .first_button_area {
        margin: 16px 0px 0px calc(100vw*88/1440);
    }

    .button_free_back {
        border-radius: 16px;
        height: 32px;
        display: flex;
        align-items: center;
    }

    .button_free_text {
        font-size: 16px;
        color: #ffffff;
        font-weight: 900;
        line-height: 1;
        padding: 8px;
    }

    .button_lesson_back {
        background-color: #ffffff;
        border-radius: 16px;
        border: solid 3.5px #FF4639;
        height: 32px;
        display: flex;
        align-items: center;
    }

    .button_lesson_text {
        font-size: 16px;
        color: #FF4639;
        font-weight: 900;
        padding: 8px;
    }
}

/*プログラミングとは*/
.frame_programming {
    height: fit-content;
    margin: 104px auto 160px auto;
    display: flex;
    gap: 0;
}

.programming_card {
    max-width: 496px;
    width: fit-content;
    height: 100%;
    border-radius: 25px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.programming_svg {
    max-width: 480px;
    width: 95%;
    height: 264px;
    display: flex;
    gap: 0;
    margin: auto auto 0 0;
}

.monitor {
    width: 360px;
    margin: auto 0 0 0;
    aspect-ratio: 360/240;
}

.type_woman {
    width: 144px;
    margin: auto 0 0 0;
    aspect-ratio: 144/112;
}

.programming_title {
    font-size: 24px;
    line-height: 24px;
    font-weight: 700;
    color: #208200;
    margin-bottom: 16px;
    padding: 0;
    width: fit-content
}

.programming_text {
    max-width: fit-content;
}

@media(max-width:1024px) {
    .frame_programming {
        flex-direction: column;
        align-items: center;
    }

    .programming_svg {
        margin: 0;
        height: fit-content;
        margin-top: 16px;
    }

    .type_woman {
        width: 30%;
    }

    .monitor {
        width: 70%;

    }
}


@media(max-width:768px) {
    .programming_svg {
        width: 95%;
    }
}

/*プログラミングの魅力について知ろう。*/
.frame_programming_attractive {
    height: fit-content;
    width: fit-content;
}

.attractive_card_area {
    width: 100%;
    height: fit-content;
    display: flex;
    gap: 40px;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: center;

}

.attractive_card {
    width: 304px;
    height: 480px;
    padding: 40px;
    display: flex;
    flex-direction: column;

}

.attractive_title {
    margin-bottom: 24px;
}

.attractive_text {
    max-height: 184px;
}

.attractive_svg_area {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto auto 0 auto;
    width: 160px;
    height: 160px;
}


.attractive_svg {
    width: 100%;
    height: 100%;
}




/*BeEngineerの強みを見てみよう！*/
.frame_strength {
    height: fit-content;
    overflow-x: hidden;
}



.strength_card_area {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
}

.strength_card {
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0;
    padding: 8px;
}


.strength_card:hover {
    background-color: #208200;
    transition: 10ms;
}

.strength_text_area {
    display: block;
    width: 480px;
    height: fit-content;
    display: flex;
    gap: 8px;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    padding-left: 56px;
    padding-right: 24px;
}




.strength_card:hover .strength_title {
    color: #ffffff;
    transition: 10ms;
}

.strength_text {
    max-width: 368px;
}

.strength_img_area {
    display: flex;
    width: 480px;
    height: 184px;
    padding: 8px;
}

.strength_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: auto 0;
    border-radius: 24px;
}

@media(max-width:1024px) {
    .strength_card_area {
        margin: 0 auto;
    }

    .strength_card {
        flex-direction: column;
        padding: 36px;
    }

    .strength_img_area {
        width: 100%;
        height: 160px;
        padding: 8px 0;
    }

    .strength_text_area {
        padding: 0;
        width: 424px;
    }

    .strength_text {
        width: 100%;
        max-width: none;
    }
}


@media(max-width:768px) {
    .strength_card {
        width: 95%;
        margin: 0 auto;
    }

    .strength_text_area {
        width: 95%;
        padding: 8px 0px;
    }

    .strength_img_area {
        width: 95%;
    }
}

/*どのような講座が受けられるの？*/
.frame_lesson {
    height: fit-content;
    width: fit-content;
}

.scroll_space_2 {
    height: 2000px;
}

.lesson_area {
    max-width: 1000px;
    width: 100%;
    height: fit-content;
    display: flex;
    gap: 32px;
    position: sticky;
    top: 44px;

}


.lesson_tiktok {
    width: 344px;
    height: 584px;
    flex-shrink: 0;
    border-radius: 60px;
    overflow: hidden;
    position: relative;
    border: solid 6px #000000;
}

.lesson_tiktok::before {
    content: "";
    position: absolute;
    top: -10px;
    left: 97px;
    width: 150px;
    height: 40px;
    background-color: #000000;
    border-radius: 0 0 20px 20px;
    z-index: 300;
}

.sp_time,
.sp_net {
    z-index: 120;
}

.sp_time {
    position: absolute;
    top: 5px;
    left: 40px;
    font-weight: 700;
}

.sp_net {
    position: absolute;
    top: 10px;
    right: 50px;
    display: flex;
    align-items: end;
    gap: 2px;
    width: fit-content;
}

.sp_charge {
    position: absolute;
    top: 11px;
    right: 21px;
}

.sp_charge>* {
    display: block;
}

.sp_charge_1 {
    width: 25px;
    height: 15px;
    border: solid 2px #000000;
    border-radius: 6px;
}

.sp_charge_1::after {
    content: "";
    position: absolute;
    top: 3px;
    left: 3px;
    width: 19px;
    height: 9px;
    background-color: #34C759;
    border-radius: 4px;
}

.sp_charge_1::before {
    content: "";
    position: absolute;
    top: 4px;
    left: 23px;
    width: 3px;
    height: 7px;
    background-color: #000000;
    border-radius: 13px
}

.sp_net>* {
    width: 4px;
    height: 2px;
    background-color: #000000;
    display: block;
}

.sp_net_0 {
    height: 8px;
}

.sp_net_1 {
    height: 10px;
}

.sp_net_2 {
    height: 12px;
}

.sp_net_3 {
    height: 14px;
}

.lesson_name_time_content {
    width: 624px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 16px;
    position: absolute;
    top: 0;
    left: 0;
}

.lesson_name_time {
    width: 624px;
    height: fit-content;
    display: flex;
    gap: 16px;
    opacity: 0;
}

.lesson_name_time_content_area {
    width: 624px;
    height: fit-content;
    position: relative;
}

.lesson_name_time.active {
    opacity: 1;
}

.lesson_name,
.lesson_time {
    width: 304px;
    height: 120px;
    padding: 16px 32px;
    display: flex;
    flex-direction: column;
}

.lesson_sub_title {
    margin-bottom: 8px;
    font-size: 24px;
    font-weight: 700;
    color: #208200;
}


.lesson_name_time_text {
    font-size: 24px;
    font-weight: 500;
    margin: 0 auto;

}

.lesson_content {
    width: 624px;
    height: 448px;
    padding: 48px 32px;
    opacity: 0;
    display: flex;
    flex-direction: column;
    gap: 0px;
}


.lesson_content.active {
    opacity: 1;
}

.lesson_content_area {
    width: 624px;
    height: 448px;
    position: relative;
}


.lesson_svg {
    width: 304px;
    height: 134px;
    margin: auto auto 16px auto;
}

.tiktok_img {
    width: 344px;
    height: 584px;
    object-fit: cover;
    display: block;
}

.track {
    height: fit-content;
}

.lesson_text_transition {
    transform: translateY(24px);
    opacity: 0;
}

.lesson_text_transition.active {
    transition: transform 1s, opacity 1s;
    transform: translateY(0%);
    opacity: 1;
}

.sp_scale {
    display: none;
}

.lp_hide {
    display: none;
    margin-top: 16px;
}

.lp_hide .card_settings {
    background-color: transparent;
    box-shadow: none;
}

.lp_hide .lesson_time {
    width: 180px;
    height: calc(584px*0.3);
    padding: 0;
}

@media(max-width:1024px) {
    .frame_lesson {
        height: 2600px;
    }

    .lesson_area {
        flex-direction: column;
        align-items: center;
    }

    .frame_lesson {
        width: clamp(360px, calc(100vw*1000/1440), 1000px);
    }
}

@media(max-width:768px) {
    .frame_lesson {
        height: fit-content;
    }

    .lesson_tiktok {
        display: none;
        zoom: 0.3;
    }

    .lesson_name_time {
        align-items: center;
        width: fit-content;
        flex-direction: column;
    }


    .lesson_name,
    .lesson_time,
    .lesson_content {
        width: 344px;
    }

    .lesson_name_time_content {
        align-items: center;
        max-width: 344px;
    }

    .lesson_content_area {
        width: 344px;
        height: 448px;
    }

    .lesson_svg {
        display: none;
    }

    .sp_scale {
        display: block;
    }

    .sp_hide {
        display: none;
    }

    .lp_hide {
        display: flex;
        gap: 32px;
        width: fit-content;
        height: fit-content;
    }

    .lp_hide .lesson_time {
        border: none;
        width: 136px;
    }

    .lesson_tiktok::before {
        background-color: transparent;
    }

    .lesson_name_time_content_area {
        position: sticky;
        top: 0;
        display: flex;
        gap: 40px;
        overflow-x: scroll;
        height: fit-content;
        width: 100vw;
        padding: 16px 0px;
    }

    .lesson_text_transition,
    .lesson_name_time,
    .lesson_content {
        opacity: 1;
    }

    .lesson_name_time_content {
        position: static;
    }

    .lesson_text_transition {
        transform: translateY(0);
        opacity: 1;
    }

    .scroll_space_2 {
        height: fit-content;
    }

    .margin_left {
        margin-left: 200px;
    }

    .margin_right {
        margin-right: 200px;
    }
}



/*授業風景を見てみよう！*/
.frame_youtube {
    height: fit-content;
}

.frame_youtube iframe {
    width: 100%;
    aspect-ratio: 16/9;
}


/*流れを見てみよう*/
.flow_frame {
    height: fit-content;
}

.flow_card {
    padding: 24px;
    width: 100%;
    height: fit-content;
}

.flow_element_area {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;

}

.flow_element {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flow_text {
    font-size: 24px;
    font-weight: 700;
}

.arrow_img {
    width: 40px;
    height: 40px;
    clip-path: polygon(0% 0%, 0% 100%, 85% 50%);
    background-color: #000000;
    margin-top: 30px;
}

.arrow_color_1 {
    background-color: #0A7FE8;
}

.arrow_color_2 {
    background-color: #F04830;
}

.arrow_color_3 {
    background-color: #F04830;
}

.arrow_color_4 {
    background-color: #208200;
}

@media(max-width:1024px) {
    .flow_card {
        width: 600px;
        margin: 0 auto;
    }
}

@media(max-width:768px) {
    .flow_card {
        width: 344px;
    }

    .flow_element_area {
        flex-direction: column;
        align-items: center;

    }

    .flow_element {
        flex-direction: row;
        width: 256px;
        display: flex;

    }

    .flow_img {
        margin: 0 24px 0 0;
    }

    .arrow_img {
        transform: rotate(90deg);
    }
}

/*CTA*/
.frame_cta {
    height: 200px;
}

.cta_card {
    width: 100%;
    max-width: 1000px;
    height: fit-content;
    padding: 32px;
}



.cta_text {
    padding: 0;
    text-align: initial;
    margin-bottom: 24px;
}

.cta_button_area {
    display: flex;
    height: fit-content;
    justify-content: center;
    gap: 64px;
}

.cta_button_area .button_free_back,
.cta_button_area .button_lesson_back {
    border-radius: 36px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
    transition: scale 0.25s;
    scale: 1.0;
}

.cta_button_area .button_free_back .button_free_text,
.cta_button_area .button_lesson_back .button_lesson_text {
    font-size: 36px;
    padding: 18px;
}




@media(max-width:1024px) {
    .cta_button_area {
        flex-direction: column;
        gap: 24px;
        justify-content: center;
        align-items: center;
    }

    .cta_card {
        width: 60%;
        margin: 0 auto;
    }
}

@media(max-width:768px) {
    .cta_card {
        width: 95%;
    }

    .cta_button_area .button_free_back .button_free_text,
    .cta_button_area .button_lesson_back .button_lesson_text {
        font-size: 24px;
    }
}

/*生徒や講師の声を聞いてみよう！*/
.frame_voice {
    height: fit-content;
}

.voice_card_area {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 0 auto;
    flex-wrap: wrap;

}

.voice_card {
    padding: 40px;
    width: 304px;
    height: 512px;
    position: relative;
    overflow: hidden;
    z-index: 1;
    display: flex;
    flex-direction: column;

}

.voice_card::before {
    content: "";
    width: 304px;
    height: 264px;
    background-image: linear-gradient(to bottom,
            rgba(255, 255, 255, 1) 0%,
            rgba(255, 255, 255, 1) 8%,
            rgba(255, 255, 255, 0.85) 15%,
            rgba(255, 255, 255, 0.5) 25%,
            rgba(255, 255, 255, 0.15) 40%,
            rgba(255, 255, 255, 0) 50%);
    position: absolute;
    bottom: 0px;
    left: 0px;
    border-radius: 0 0 24px 24px;
    z-index: 80;
}

.voice_sub_title {
    margin-bottom: 24px;
    z-index: 200;
    position: relative;

}

.voice_text {
    max-width: 216px;
    width: 100%;
    z-index: 100;
    position: relative;
}



.voice_img {
    width: 304px;
    height: 264px;
    object-fit: cover;
    border-radius: 0 0 24px 24px;
    z-index: 2;
    clip-path: circle(300px at 50% 50%);
    transition: clip-path 2s;
}

.voice_img.cut_img{
    clip-path: circle(0px at 50% 50%);
}

.voice_img_area {
    width: 304px;
    height: 264px;
    position: absolute;
    left: 0px;
    bottom: 0px;
    z-index: 3;
}

.voice_text::after {
    content: "";
    position: absolute;
    width: 304px;
    height: 50px;
    top: 150px;
    left: 0px;
    z-index: 23;
    backdrop-filter: blur(4px);
}


/*料金体系*/
.frame_price {
    height: fit-content;
}

.price_card_area {
    width: 100%;
    max-width: 1000px;
    height: fit-content;
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    justify-content: center;
}

.price_card {
    width: 488px;
    height: 204px;
    padding: 32px;
}

.price_title {
    font-size: 32px;
    line-height: 32px;
    font-weight: 700;
    margin-bottom: 24px;
    text-align: center;

}

.price_yen {
    font-size: 40px;
    line-height: 40px;
    font-weight: 700;
    color: #208200;
    text-align: center;

}


@media(max-width:768px) {
    .price_card {
        width: 95%;
    }

    .price_card_area {
        flex-direction: column;
    }
}

/*日時・場所*/
.access_text {
    font-size: 16px;
    color: #000000;
    font-weight: normal;
}

.schedule_place_area {
    position: relative;
    perspective: 10000px;
    height: 880px;
}

.frame_schedule_place {
    height: fit-content;
}

.schedule_place_card {
    height: 880px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
}




.card_back {
    transform: rotateY(180deg);
}



.schoolname_area {
    height: fit-content;
    width: 100%;
    margin: 0 auto;
    display: flex;
    gap: 48px;
    align-items: center;
    justify-content: center;
    border-bottom: solid 2px #F5F5F7;
    padding: 8px 0;
}

.schoolname_text {
    font-size: 28px;
    font-weight: 700;
    padding: 8px;
    background-image: blur(10px);
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
    border-radius: 25px;
    border: solid 1px #208200;
    text-align: center;
}

.schoolname_choice_color {
    color: #ffffff;
    background-color: #208200;
    border: solid 1px #000000 inset;
}

.schedule_area {
    display: flex;
    gap: 0;
}

.free_schedule_area,
.python_schedule_area {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;

}

.schedule_area h2,
.python_schedule_area h2,
.school_img_area h2,
.place_area h2 {
    color: black;
    margin-top: 24px;
}

.free_schedules {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 88px;
}

.python_schedules {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: 40px;
}

.free_schedule,
.python_schedule_1,
.python_schedule_2 {
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: fit-content;
}

.python_schedule {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: 0px;
}

.free_date {
    font-size: 40px;
    font-weight: 700;
}

.free_day,
.free_time {
    font-size: 24px;
    padding: 4px;
    border: solid 2px black;
    border-radius: 2px;
    font-weight: 600;
    line-height: 24px;
}

.free_day:empty {
    display: none;
}

.free_time {
    border: none;

}

.blue_saturday {
    color: #0A7FE8;
}

.red_sunday {
    color: #f04830;
}

.access_button {
    padding: 38px;
    border-radius: 50%;
    margin: auto 10px 10px auto;
    position: relative;
    background-color: #208200;
    font-size: 24px;
    color: #ffffff;
    line-height: 24px;
    font-weight: 700;
}

.place_access_area {
    display: flex;
    gap: 24px;
    margin: 0 auto;
}

.school_img_area,
.place_area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px
}

.school_img img {
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 24px;
}

.place_map iframe {
    height: 200px;
    width: 400px;
    border-radius: 24px;
}

.map_h1_area {
    height: 400px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.place_map,
.school_img {
    display: flex;
    width: 100%;
}

.schedule_title {
    color: #000000;
    margin-top: 24px;
}

@media(max-width:1024px) {

    .schoolname_area {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 8px;
    }

    .schedule_area,
    .place_access_area {
        flex-direction: column;
        gap: 16px;
        align-items: center;
    }

    .schedule_place_card {
        height: fit-content;
        width: 100%;
    }

    .schedule_place_area {
        height: 1600px;
    }

    .sp_hide_2 {
        display: none;
    }

    .free_schedules {
        gap: 16px;
    }

    .python_schedules {
        gap: 16px;
    }

    .free_date {
        font-size: 32px;
    }

    .free_day,
    .free_time {
        font-size: 16px;
        padding: 4px;
        border: solid 2px black;
        border-radius: 2px;
        line-height: 1;
    }

    .free_time {
        border: none;
    }

}

@media(max-width:768px) {
    .school_img_area {
        width: 100%;
    }

    .school_img img {
        width: 80%;
        object-fit: cover;
        margin: 0 auto;
    }

    .place_map iframe {
        width: 80%;
        margin: 0 auto;
    }

    .place_map,
    .school_img {
        display: flex;
    }

    .place_access_area {
        width: 100%;
    }

    .place_area {
        width: 100%;
    }

    .map_h1_area {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}

/*FAQ*/
.faq_area {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 16px;
    max-width: 1000px;
    width: 100%;
}

.frame_faq {
    height: min-content;
}

.faq_element {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 0px;
    padding: 16px;
}

.faq_element_q {
    width: 100%;
    display: flex;
    gap: 0px;
    align-items: center;

}

.faq_element_a {
    display: flex;
    gap: 16px;
    align-items: flex-start;
    max-height: 0px;
    overflow: hidden;
}


.faq_content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.faq_text {
    display: flex;
    align-items: center;
    gap: 16px;
}


.faq_title {
    font-size: 24px;
    line-height: 24px;
    color: #208200;
    font-weight: 700;
    width: 24px;
}

.faq_title_a {
    font-size: 24px;
    line-height: 24px;
    color: #FF4639;
    font-weight: 700;
    width: 24px;
    margin-left: 3px;
}


.faq_text:not(.faq_button) {
    width: fit-content;
}

.faq_button {
    width: 24px;
    font-size: 24px;
    font-weight: 700;
    margin-right: 16px;
    background-color: transparent;
    border: none;
    transition: transform .4s;
    color: #000000;
}

.faq_element_a.faq_open {
    max-height: 300px;
    margin-top: 16px;
    transition: .4s;
}

.faq_button.arrow_rotate {
    transform: rotate(180deg);
}


/*申し込みフォーム*/
.frame_application {
    height: fit-content;
}

.application_card {
    width: 100%;
    max-width: 1000px;
    height: fit-content;
    display: flex;
    padding: 64px 32px 64px 32px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.enter_form_area {
    width: 760px;
    height: fit-content;
    display: flex;
    gap: 80px;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: center;
}



.enter_form {
    max-width: 320px;
    width: fit-content;
    height: 80px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
}

.enter_form_label {
    font-size: 20px;
    font-weight: 700;
}

.enter_form_input {
    width: 320px;
    height: 44px;
    border: none;
    border-bottom: solid 3px #d9d9d9;

}

.pull_menu {
    width: 320px;
    height: 44px;
    border: none;
    border-bottom: solid 3px #d9d9d9;
    font-weight: 700;
    font-size: 16px;
}

.enter_form_span {
    color: #f04830;
}

@media(max-width:1024px) {
    .enter_form_area {
        row-gap: 48px;
        column-gap: 100px;
        align-items: center;
        flex-wrap: wrap;
        width: 600px;
    }

    .enter_form_input {
        width: 200px;
    }

    .pull_menu {
        width: 200px;
    }
}

.form_submit {
    width: fit-content;
    color: #ffffff;
    font-size: 24px;
    font-weight: 700;
    background-color: #f04830;
    padding: 8px 16px;
    border-radius: 20px;
    margin-top: 24px;
}


@media(max-width:768px) {

    .enter_form_input,
    .pull_menu {
        width: 100%;
    }

    .enter_form_area {
        width: 300px;
    }

    .enter_form {
        width: 300px;

    }

    .application_card {
        padding: 16px;
    }

    .form_submit {
        margin-top: 40px;
    }
}

/*フッター*/
footer {
    height: fit-content;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #d9d9d9;
    padding: 24px;
}

.footer_logo {
    margin: 24px auto 36px calc(100%*264px/1440px);
}


.footer_elements {
    display: flex;
    row-gap: 160px;
    column-gap: 20px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}



@media(max-width:1024px) {
    footer {
        height: fit-content;
    }

    .footer_element_up,
    .footer_element_down {
        flex-direction: column;
        gap: 36px;
    }
}

/*偽ファーストビュー*/
.fake_first_view {
    position: fixed;
    width: 100%;
    height: 100vh;
    inset: 0;
    z-index: 10;
    pointer-events: none;
}


.svg_text {
    transform-box: fill-box;
    transform-origin: 48% 70%;
    transform: translate(723px, 400px) scale(4);
}

.sum_mask {
    fill: #208200;
    mask: url(#text_mask);

}

.scroll_space {
    height: 200vh;
}

.scroll_down {
    font-family: Impact, Haettenschweiler, 'Arial Narrow 700', sans-serif;
    font-size: 8px;
}

.scroll_line{
    position: absolute;
    bottom: 30px;
    right: 70px;
    display: block;
    width: 4px;
    height: 60px;
    background-color:#ffffff;
}

.scroll_ball{
    position: absolute;
    bottom: 90px;
    right:67px;
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ffffff;
    animation: down_ball 2s ease-out infinite;
}

@keyframes down_ball{
    0%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(60px);
    }
}

.scroll_text{
    position: absolute;
    right: 30px;
    bottom:100px;
    font-size: 16px;
    color: #ffffff;
}

/*日時日付クリックアニメーション*/
.front_back_area {
    position: absolute;
    inset: 0;
    opacity: 0;
    pointer-events: none;
    transform: translateY(0);
    transform-style: preserve-3d;
    transition: transform .6s;
    height: fit-content;
}


.front_back_area.rotate {
    transform: rotateY(180deg);
}

.front_back_area.active {
    position: absolute;
    inset: 0;
    opacity: 1;
    pointer-events: auto;
}



/*スクロールしたらしたからふわっと*/
.before_animation {
    transform: translateY(60px);
    opacity: 0;
    animation-delay: 2s;
}

.after_animation {
    transform: translateY(0%);
    opacity: 1;
    transition: opacity 1s, transform 1s;
    animation-delay: 2s;
}


/*左からスクロール*/
.before_animation_left {
    transform: translateX(-400px);
    opacity: 0;
    animation-delay: 2s;
}

.after_animation_right {
    transform: translateX(0px);
    opacity: 1;
    transition: opacity 3s, transform 3s;
    animation-delay: 2s;
}

/*右からスクロール*/

.before_animation_right {
    transform: translateX(400px);
    opacity: 0;
}

.after_animation_left {
    transform: translateX(0px);
    opacity: 1;
    transition: opacity 2s, transform 2s;
}

.animation_scale {
    scale: 1.0;
}